# HI!!! This side Priyansh Dhakrey the SO called developer of this web.... 
# so if you want to run this project with some extensive features....
# so go to aistudio.google and make a api key to use features....
#  JUST SIMPLY copy paste this api key in the .env file.
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
